{% set now = (datetime.utcnow() + timedelta(hours=3)).strftime("%d.%m.%Y %H:%M MSK") %}
⚙️ <b>Remnawave — Node Alert</b>
─────────────────────────────
{% if event == "node.connection_lost" %}
❌ <b>#connection_lost</b>
🔌 Соединение с узлом потеряно!
{% elif event == "node.connection_restored" %}
✅ <b>#connection_restored</b>
🔄 Соединение с узлом восстановлено!
{% elif event == "node.traffic_notify" %}
⚠️ <b>#nodeTrafficNotify</b>
🚦 Уведомление о трафике
{% else %}
📡 <b>#nodeEvent</b>
Неизвестное событие узла.
{% endif %}
─────────────────────────────

🖥 <b>Имя узла:</b> {{ name }}
🌐 <b>Адрес:</b> {{ address }}
🧭 <b>UUID:</b> {{ uuid }}
🌍 <b>Страна:</b> {{ countryCode }}

{% if xrayVersion %}
🧩 <b>XRay версия:</b> {{ xrayVersion }}
{% endif %}
{% if xrayUptime %}
⏳ <b>Uptime:</b> {{ xrayUptime }}
{% endif %}
{% if usersOnline is not none %}
👥 <b>Пользователей онлайн:</b> {{ usersOnline }}
{% endif %}

{% if trafficUsedBytes and trafficLimitBytes %}
📊 <b>Трафик:</b> {{ ((trafficUsedBytes | int) / 1024 / 1024 / 1024) | round(2) }} / {{ ((trafficLimitBytes | int) / 1024 / 1024 / 1024) | round(2) }} ГиБ
📈 <b>Процент:</b> {{ (((trafficUsedBytes | int) / (trafficLimitBytes | int)) * 100) | round(1) }}%
{% endif %}
{% if trafficResetDay %}
🔁 <b>Сброс трафика:</b> {{ trafficResetDay }} день месяца
{% endif %}

{% if isNodeOnline is not none %}
🟢 <b>Онлайн:</b> {{ "Да" if isNodeOnline else "Нет" }}
{% endif %}

{% if cpuModel %}
🧠 <b>CPU:</b> {{ cpuModel }}
{% endif %}
{% if totalRam %}
💾 <b>RAM:</b> {{ totalRam }}
{% endif %}

{% if activeInternalSquads %}
👥 <b>Внутренние группы:</b> {{ activeInternalSquads | join(', ') }}
{% endif %}

─────────────────────────────
🕐 <i>{{ now }}</i>
🔗 <b>Remnawave Monitoring</b>
